<footer>

	<div class="content-padding">
		<div class="footer-content">

			<p>Copyright &copy; 2018 Mara Melkonian</p>

			<div class="social-media-icons">
				<a href="#"><i class="fa fa-google"></i></a>
				<a href="#"><i class="fa fa-github-square"></i></a>
			</div>

		</div>
	</div>
</footer>